html, body {
  margin: 20px;
  height: calc(100% - 40px);
  background-color: lightgray;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: solid 5px dodgerblue;
  background: #FFFFFF;
}

/* GRID */
body {
  display: grid;

  /* Dandos nomes as linhas */
  grid-template-columns:
    [inicio] 1fr
    [metade-1 meio-1] 1fr
    [metade-2 meio-2] 1fr
    [fim];
  grid-auto-rows: repeat(3, 1fr);

  /* O gap deve ser aplicado no grid container */
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  /* 50px nas linhas e 10px nas colunas */
  grid-gap: 50px 10px;

  /* Mesmo valor nas linhas e colunas */
  grid-gap: 10px;
}

.d1 {
  grid-column-start: metade-2;
  grid-column-end: fim;

  /* Mesmo efeito do exemplo acima */
  grid-column: meio-2 / fim;
  grid-row: 1 / span 2;

  /* row-start column-start row-end column-end (células) */
  /* Teto, lateral esquerda, base, lateral direita */
  /* Sentido anti-horário */
  grid-area: 1 / meio-1 / span 2 / fim;
}
